/* Menu du haut */

menu>nav>li {
    display: inline-flex;
    vertical-align: top;
    flex-wrap: wrap;
}

header button {
    border-radius: 20px;
    background-color: black;
    color: white;
    border-color: black;
    border-style: double;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0s;
}

header button#actualPage, header button:hover {
    text-underline-offset: 15px;
    text-decoration: underline;
    text-decoration-thickness: 7px;
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 90px;
}

.dropItems {
    display: none;
}

.dropdown>:hover+.dropItems, .dropItems:hover{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.dropItems {
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
}

.dropItems>a {
    text-decoration: none;
    color: black;
    padding: 7px;
    padding-left: 11px;
    width: 200px;
}

.dropItems>a:hover, .dropItems>a#actualPage {
    font-weight: bold;
    border-left: 7px;
    padding-left: 4px;
    border-color: black;
    border-left-style: solid;
}

menu>nav {
    display: inline-block;
    color: white;
    vertical-align: middle;
}

menu img {
    width: 120px;
    vertical-align: middle;
    margin-right: 30px;
}

/*Formulaire de nouvelle annonce*/

main {
    left: 0;
    top: 0;
    margin: 0;
    padding-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 30px;
}

form label>input, form label>select {
    margin-bottom: 10px;
    margin-top: 10px;
}

#nouvelle_annonce{
    margin: 0;
    display: flexbox;
    justify-items: center;
    background-image: url('../medias/thecrew.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nouvelle_annonce>form>fieldset {
    border-style: none;
    background-color: rgba(240,248,255,0.95);;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#nouvelle_annonce h3 {
    text-align: center;
}

input[type="text"], input[type="email"], input[type="phone"] {
    border-style: none;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    box-shadow: 0 0 5px;
}

input[type="radio"]:focus {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 5px double white;
    background-color: #d80388;
    transition: 0.2s all linear;
}

label.radio {
    display: flex;
    align-items: center ;
}

select {
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    border-style: none;
    box-shadow: 0 0 5px;
}

textarea {
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    box-shadow: 0 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

button {
    border-radius: 20px;
    background-color: #d80388;
    color: white;
    border-color: #d80388;
    border-style: double;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
}

button[type]:hover {
    background-color:transparent;
    border-color: #d80388;
    color: #d80388;
}

/*Pied de page*/

body>footer {
    color: white;
    background-color: black;
    padding: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    width: 98%;
}

footer>#rights {
    font-size: 10px;
}

/*Annonces*/

fieldset#filtre {
    width: 250px;
    float: left;
    margin-right: 10px;
    border-style: hidden;
    box-shadow: 0 0 10px #d80388;
}

.boutons {
    display: flex;
    justify-content: space-around;
}

#annonces {
    margin-left: 225px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main.pageAnnonce {
    /*Image bg avec margin 0 et padding left right*/
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url('../medias/rayman.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.corpsPageAnnonce {
    background-color: rgba(240,248,255,0.95);
    border-radius: 20px;
    padding: 20px;
}           

.annonce {
    border-style:solid;
    border-color:darkslategrey;
    border-radius: 10px;
    margin-bottom: 10px ;
    width: 177px;
    padding: 20px;  
    margin-left: 10px;
    vertical-align: middle;
    padding-bottom: 5%;
}

.annonce img {
    width: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#annonces a {
    text-decoration: none;
    color: white;
    background-color:#d80388;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

#annonces a:hover {
    color: #d80388;
    background-color: aliceblue;
    border-color: #d80388;
    border-style: solid;
    border-width: 2px;
}

#titreAnnonces {
    padding-top: 10px;
    height: 60px;
    color: #d80388;
}

/* Divers */
h1, h2, p {
    text-align: center;
}

h2, b, h3 {
    color:#d80388;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main>#accueil {
    margin:0;
    background-image: url('../medias/shadows.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    padding-top: 350px;
    padding-bottom: 350px;
}

main>#accueil>p, main>#accueil>h1 {
    text-shadow: 0 0 30px black;
    color: white;
    transition: 1s;
}

main>#accueil>p:hover, main>#accueil>h1:hover {
    text-shadow: 0 0 50px #d80388;
}

main#pageAccueil {
    margin: 0;
    padding: 0;
}

section#accueilItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}

article.itemAccueil {
    width: 35%;
    box-shadow: 0 0 10px black;
    margin: 30px;
    padding: 2%;
    transition: 0.5s;
    font-size: 15px;
}

article.itemAccueil:hover {
    width: 36%;
    box-shadow: 0 0 20px #d80388;
    font-size: 15.5px;
}
